body {
        font-family: 'Roboto', sans-serif;
        background-color: #ffffff;
        color: #434455;
        line-height: 1.5;
}

h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        text-align: center;
        color: #fff;
}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-align: center;
        color: #2e2f42;
}

h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}



.logo {
        font-family: "Raleway",
                sans-serif;
        font-weight: 700;
        font-size: 18px;

        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

/*font-family: "Roboto",
        sans-serif;
    font-weight: 500; */

.hero-button {
        font-family: "Roboto",
                sans-serif;
        background: #4d5ae5;
}

.main-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.main-nav a.link:hover,
.main-nav a.link:focus {
        color: #404bbf;
}

.logo-studio {
        color: #2e2f42;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.link {

        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #2e2f42;

}

.hero-section {
        background: #2e2f42;
}

.hero-title {}

.feature {}

.feature-list {}

.feature-card {}

.feature-subtitle {
        font-weight: 500;
        font-size: 20px;

        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.feature-text {
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {}

.team-title {}

.team-list {}

.team-member {}

.team-name {}

.team-role {}

.portfolio {}

.portfolio-title {}

.project-card {}

/* .portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;

        line-height: 24px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
} */

.porfolio-text {
        font-weight: 400;
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer-text {
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}